<!-- <section class="ae-container-fluid rk-main"> -->
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio animated fadeIn">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a href="portfolio-item.html" class="rk-item ae-masonry__item" *ngFor="let product of prodService.productos">
        <img src="assets/img/{{product.url}}.jpg" alt="">
        <div class="item-meta">
          <h2>{{product.titulo}}</h2>
          <p>{{product.categoria}}</p>
        </div>
      </a>
    </div>
  </section>
<!-- </section> -->
