<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="about" class="rk-menu__link">About Us</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy ">
        <span class="ae-u-bold">© </span>
        <span class="ae-u-bolder">{{ year }} {{infoService.infoData.title | uppercase}} </span>All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a [href]="infoService.infoData.facebook" class="rk-social-btn " target="_blank">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a [href]="infoService.infoData.twitter" class="rk-social-btn " target="_blank">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
      <a [href]="infoService.infoData.instagram" class="rk-social-btn " target="_blank">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg>
      </a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact ">
        <span class="ae-u-bold">Email: </span>
        <span class="ae-u-bolder">
          <a href="mailto:{{infoService.infoData.email}}" class="rk-dark-color ">{{infoService.infoData.email}}</a>
        </span>
      </p>
      <p class="rk-footer__text rk-footer__by">Theme by
        <a [href]="infoService.infoData.page_author" class="ae-u-bolder" target="_blank">{{infoService.infoData.short_name}}</a>
      </p>
    </div>
  </div>
</footer>
